<?xml version="1.0"?>

<launch>

    <!-- Joy stick arguments  -->
    <arg name="~deadzone"             default="0.2" />
    <!-- <arg name="~autorepeat_rate"      default="10" />
    <arg name="~coalesce_interval"    default="0.001" /> -->


    <node
      pkg="robot_hub"
      type="robot_hub_node"
      name="robot_hub_node"
      respawn="true"
    />


    <node
        pkg="joy"
        type="joy_node"
        name="joy_node"
        respawn="true">
      <param name="deadzone" value="0.2" />

    </node>

    <!-- rosbridge -->
    <include
      file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>


    <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen" respawn="true">
       <param name="port" value="/dev/ttyACM0" />
       <param name="baud" value="57600" />
   </node>

</launch>
