<?xml version="1.0"?>

<launch>
    <arg name="camera" default="camera" />



    <!-- <node
      pkg="vision_system"
      type="kinect_color_calib"
      name="kinect_color_calib"
    /> -->

    <node
      pkg="robot_hub"
      type="robot_hub_node"
      name="robot_hub_node"
      respawn="true"
    />

    <node
      pkg="controller_box"
      type="driver_node"
      name="driver_node"
      respawn="true"
    />

    <node
      pkg="joy"
      type="joy_node"
      name="joy_node"
    />

    <!-- rosbridge -->
    <include
      file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    </include>


    <!-- kinect camera-->
    <!-- <include
        file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" default="$(arg camera)"/>
        <arg name="depth_registration" value="true" />
    </include> -->



</launch>
